sslVersion = TLSv1
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
;foreground = yes
debug = info
output = /var/log/stunnel.log

[beanstalkd]
accept = 13100
connect = 11300
TIMEOUTclose = 0
#TIMEOUTidle = 31536000
ciphers = PSK
PSKsecrets = /etc/stunnel/reimzul-clients.psk

[rsyncd]
accept = 11873
connect = 873
TIMEOUTclose = 0
ciphers = PSK
PSKsecrets = /etc/stunnel/reimzul-clients.psk

[httpd]
accept = 11080
connect = 80
TIMEOUTclose = 0
ciphers = PSK
PSKsecrets = /etc/stunnel/reimzul-clients.psk

[bstore_httpd]
client = yes
accept = 11081
connect = {{ reimzul_bstore }}:11081
TIMEOUTclose = 0
ciphers = PSK
PSKsecrets = /etc/stunnel/reimzul-client.psk

